@{
    ViewData["Title"] = "پنل شرکت";
}

<!-- admin panel -->
<div class="container p-3 border my-5 admin-panel">
    <div class="row">
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="Product" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>مدیریت محصول</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="Product" asp-action="Create">
                <div class="admin-panel-box">
                    <h4>ایجاد محصول</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="Discount" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>مدیریت تخفیف محصولات</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="Order" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>سفارشات</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="StoreUser" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>ایجاد اپراتور</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="Account" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>حساب شما</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="StoreMessage" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>ارسال پیام به فروشنده</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-controller="PackageOrder" asp-action="OrderdPackages">
                <div class="admin-panel-box">
                    <h4>تراکنش پکیج ها</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="" asp-controller="Account" asp-action="Logout">
                <div class="admin-panel-box">
                    <h4>خروج</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- admin panel -->
