
@{
    ViewData["Title"] = "پنل شرکت";
}

<!-- admin panel -->
<div class="container p-3 border my-5 admin-panel">
    <div class="row">
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>مدیرت محصول</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>مشاهده سفارشات</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>مدیریت شرکت پخش</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>گردش حساب</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>ایجاد اپراتور</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>مدیریت پکیج</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>سامانه پشتیبانی</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>مدیریت مشتری</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="" asp-controller="Account" asp-action="Logout">
                <div class="admin-panel-box">
                    <h4>خروج</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- admin panel -->
