
@{
    ViewData["Title"] = "اپراتور ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container p-3 border my-5 admin-panel">
    <div class="row">
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="StoreUser" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>مدیریت کارمندان</h4>
                </div>
            </a>
        </div>
        
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="StoreRole" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>مدیریت نقش ها</h4>
                </div>
            </a>
        </div>
    </div>
</div>
