@model string
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="auth-user container col-sm-12 col md-8 col-lg-6">
    <div class="d-flex justify-content-center">
        <h4>فرم فراموشی رمز عبور</h4>
    </div>
    <div class="auth">
        <form class="p-3" asp-controller="Account" asp-action="UserChangePassword" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">شماره موبایل</label>
                <input type="" name="mobile" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-danger w-50">تایید</button>
            </div>
        </form>
    </div>
</div>
