@media screen and (max-width: 851px) {
    nav .menu .menu-box a h3 {
        font-size: 8px;
    }
    nav .menu .menu-box{
        height: 5rem !important;
    }
    nav .menu .menu-box #large-menu {
        display: none;
    }
    nav .menu-large {
        display: none;
    }
}

@media screen and (max-width: 844px) {
    .menu-small{
        display: flex;
    }
}