@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'), url('../fonts/BYekan-webfont.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #536162;
    --black: #424642;
    --coffe: #C06014;
    --pink: #e5a1f8;
    --white: #ffffff;
    --nav: #35353f;
    --nav2: #536162;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BYekan' !important;
    font-size: 14px;
    direction: rtl;
    background-color: #F3F4ED !important;
}

.font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* nav */

nav .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu .menu-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    width: 100%;
    height: 3rem;
    z-index: 9999;
    top: 0;
}

nav .menu .menu-box .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: .5rem .8rem;
    border-radius: 15px;
    margin-right: -3rem;
}

nav .menu .menu-box .search-box svg {
    color: #35353f2a;
}

nav .menu .menu-box .search-box input {
    border: none;
    background-color: var(--white);
    width: 100%;
}

nav .menu-large {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

nav .menu-large ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 5rem;
}

nav .menu-large ul li {
    margin-right: 1rem;
}

nav .menu-large ul li a {
    color: var(--white) !important;
}

/* nav */

/* offers */

.all-offers {
    position: relative;
}

.all-offers .icons {
    position: absolute;
    display: flex;
    left: 20px;
    top: 20px;
}

.all-offers .icons .arrow-right, .all-offers .icons .arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53616250;
    padding: .5rem;
    width: 3rem;
    margin: 0 2px;
    z-index: 2;
    cursor: pointer;
}

.all-offers .icons .arrow-right svg, .all-offers .icons .arrow-left svg {
    color: var(--white) !important;
    font-size: 1.5rem;
}

.offers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    text-align: center;
    position: relative;
}

.offers .offer-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offers .offer-title svg {
    cursor: pointer;
}

.offers .offer-cards {
    border-radius: 15px;
    padding: 2rem;
}

.offers .offer-cards .offer-box {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 15px;
    margin-right: .5rem;
    width: 20rem;
}

.offers .offer-cards .offer-box .offer-product img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.offers .offer-cards .offer-box:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.all-offers .offers .offer-cards .offer-title-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* offers */

/* boxes */
.box {
    width: 33.33%;
    max-height: 300px;
    margin-right: 3px;
    border-radius: 15px;
}

.box img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

/* boxes */

/* every */

.every {
    background-color: var(--nav);
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.every h4 {
    color: var(--white) !important;
    cursor: pointer;
}

.every .every-all {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.every .every-all a {
    color: var(--white) !important;
}

.every .every-all svg {
    color: var(--white) !important;
    margin-right: 5px;
}

.every-boxes .every-box .card-product {
    max-width: 300px;
    max-height: 600px;
    border-radius: 10px;
    background-color: var(--white);
    padding: 1rem;
    margin-top: .3rem;
    margin-right: 2rem;
}

.every-boxes .every-box .card-product:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.every-boxes .every-box .card-product img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

/* every */

/* menu responsive */

.menu-small {
    background-color: var(--background);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    position: fixed;
    z-index: 9999;
    display: none;
}

.menu-small .icon svg {
    color: var(--white);
}

.menu-small-icon {
    background-color: var(--background);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.menu-small-icon ul {
    margin-top: 3rem;
}

.menu-small-icon li {
    margin-top: 1.5rem;
}

.menu-small-icon li a {
    color: var(--white) !important;
}

.menu-small-icon svg {
    color: var(--white);
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

/* menu responsive */

/* auth */

.auth-user {
    background-color: var(--white);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 15px;
}

/* auth */

/* best-seller-title */

.best-seller-title {
    background-color: var(--background);
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
}

.best-seller-title h4 {
    color: var(--white) !important;
}

/* best-seller-title */

/* !cilent panel */

.cilent-panel a .cilent-panel-box {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
}

/* !cilent panel */

/* !admin panel */

.admin-panel a .admin-panel-box {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
}

/* !admin panel */

/* title */

.title {
    background-color: var(--nav);
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h4 {
    color: var(--white) !important;
    cursor: pointer;
}

/* title */

/* search box */

.search-box-me {
    background-color: var(--nav);
    border-radius: 30px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box-me input {
    background-color: transparent;
    border: none;
    border-bottom: .5px solid var(--white);
    width: 70%;
    color: var(--white);
    padding: .5rem;
}

.search-box-me svg {
    color: var(--white) !important;
}

.search-box-me input::placeholder {
    color: var(--white);
}

/* search box */

/*  description-basket  */

.desc-basket .textarea-basket textarea {
    background-color: #F3F4ED;
}

/*  description-basket  */

/* blogs */

.blogs-boxs .blogs-box .card-blog {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: .5rem;
}

.blogs-boxs .blogs-box .card-blog img {
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* blogs */

/* single-blog */

.single-blog .single-blog-img img {
    max-height: 25rem;
    width: 80%;
    object-fit: cover;
}

.single-blog .text-single-blog p {
    line-height: 2.5rem !important;
}

/* single-blog */

/* single-card */

.single-card .single-card-img img {
    max-height: 25rem;
    width: 80%;
    object-fit: cover;
}

.single-card .text-card-blog p {
    line-height: 2.5rem !important;
}

.single-card-box input {
    margin-top: 1rem;
    width: 3rem;
}

/* single-card */

/* categories-boxs */

.categories-boxs .category-box .categories-box {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
}

.categories-boxs .category-box .categories-box:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* categories-boxs */

/* footer */

footer {
    background-color: var(--background);
}

/* footer */

/* social */

.social svg {
    cursor: pointer;
}

/* social */

/* 404page */

.text-404 p {
    font-size: 10rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

/* 404page */

/* packages */

.packages .package {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* packages */