@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- offerrs -->
<div class="all-offers my-5">
    <div class="icons mb-5">
        <div class="arrow-right" id="right">
            <i class="fas fa-arrow-right mx-2"></i>
        </div>
        <div class="arrow-left" id="left">
            <i class="fas fa-arrow-left mx-2"></i>
        </div>
    </div>
    <div class="offers container-fluid" style="overflow-x: scroll;" id="offers">
        <div class="offer-title col-2">
            <h3>پیشنهادهای شگفت انگیز</h3>
            <img src="~/SiteTheme/public/image/icons8-discount-100.png" alt="">
            <a href="" class="text-dark">مشاهده همه</a>
            <i class="fas fa-arrow-right"></i>
        </div>
        <div class="offer-cards">
            <div class="d-flex">
                @await Component.InvokeAsync("OfferProducts", "Discount")
                <div class="offer-box rounded thumbnail">
                    <div class="offer-title-end text-center justify-content-center">
                        <h3>پیشنهادهای شگفت انگیز</h3>
                        <img src="~/SiteTheme/public/image/icons8-discount-100.png" alt="">
                        <a href="" class="text-dark">مشاهده همه</a>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offer -->
<!-- boxes -->
<div class="container-fluid" style="margin-top: -5rem;">
    <div class="d-flex justify-content-around">
        <a href="">
            <div class="box">
                <img class="img-fluid rounded"
                     src="~/SiteTheme/public/image/93c4f64161b58da7f7ef20e908d96bac41bb488f_1631100847.jpg" alt="">
            </div>
        </a>
        <a href="">
            <div class="box">
                <img class="img-fluid rounded"
                     src="~/SiteTheme/public/image/ac98cbc6a44009a78e0445f195139e31ff1e357b_1631102243.jpg" alt="">
            </div>
        </a>
        <a href="">
            <div class="box">
                <img class="img-fluid rounded"
                     src="~/SiteTheme/public/image/93c4f64161b58da7f7ef20e908d96bac41bb488f_1631100847.jpg" alt="">
            </div>
        </a>
    </div>
</div>
<!-- boxes -->
<!-- bests -->
<div class="all-offers my-5">
    <div class="icons mb-5">
        <div class="arrow-right" id="right-bests">
            <i class="fas fa-arrow-right mx-2"></i>
        </div>
        <div class="arrow-left" id="left-bests">
            <i class="fas fa-arrow-left mx-2"></i>
        </div>
    </div>
    <div class="offers container-fluid" style="overflow-x: scroll;" id="bests">
        <div class="offer-title col-2">
            <h3>برترین های شرکت پخش</h3>
            <img src="~/SiteTheme/public/image/icons8-discount-100 (1).png" alt="">
            <a href="" class="text-dark">مشاهده همه</a>
            <i class="fas fa-arrow-right"></i>
        </div>
        <div class="offer-cards">
            <div class="d-flex">
                @await Component.InvokeAsync("OfferProducts", "BestSells")
                <div class="offer-box rounded thumbnail">
                    <div class="offer-title-end text-center justify-content-center">
                        <h3>برترین های شرکت پخش</h3>
                        <img src="~/SiteTheme/public/image/icons8-discount-100 (1).png" alt="">
                        <a href="" class="text-dark">مشاهده همه</a>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bests -->
<!-- every -->
<div class="container">
    <div class="every col-sm-4 col-md-6 col-lg-8 m-auto">
        <h4>همون همیشگی</h4>
        <div class="every-all">
            <a href="">مشاهده همه </a>
            <i class="fas fa-arrow-left"></i>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="every-boxes">
        <div class="row justify-content-around">
            @await Component.InvokeAsync("RoutineProducts","Routine") 
        </div>
    </div>
</div>
<!-- every -->
<!-- bests -->
<div class="container">
    <div class="every col-sm-4 col-md-6 col-lg-8 m-auto">
        <h4>برترین ها</h4>
        <div class="every-all">
            <a href="">مشاهده همه </a>
            <i class="fas fa-arrow-left"></i>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="every-boxes">
        <div class="row justify-content-around">
            @await Component.InvokeAsync("RoutineProducts", "BestSells")
        </div>
    </div>
</div>
<!-- bests -->



<!-- footer -->
@await Component.InvokeAsync("SiteFooter")
<!-- footer -->