
@{
    ViewData["Title"] = "404";
}

<!-- 404page -->
<div class="container d-flex flex-column text-center my-5">
    <div class="text-center my-5">
        <div class="text-404">
            <p class="h1">404</p>
        </div>
    </div>
    <div class="my-5">
        <h4>متاسفانه صفحه مورد نظر شما پیدا نشد</h4>
        <p class="my-5">ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-danger text-white">بازگشت به صفحه اصلی</a>
    </div>
</div>
<!-- 404page -->