@model DiscountManagement.Application.Contract.DiscountCodeAgg.EditDiscountCodeVM

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویرایش کد</h4>
</div>

<form asp-controller="DiscountCode" asp-action="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Code" class="control-label">کد</label>
                    <input type="text" class="form-control" asp-for="Code">
                    <span asp-validation-for="Code" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Rate" class="control-label">درصد</label>
                    <input type="number" class="form-control" asp-for="Rate">
                    <span asp-validation-for="Rate" class="error"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Count" class="control-label">تعداد</label>
                    <input type="number" class="form-control" asp-for="Count">
                    <span asp-validation-for="Count" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label">تاریخ شروع</label>
                    <input type="" class="form-control persianDateInput" asp-for="StartDate">
                    <span asp-validation-for="StartDate" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label">تاریخ پایان</label>
                    <input type="" class="form-control persianDateInput" asp-for="EndDate">
                    <span asp-validation-for="EndDate" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Reason" class="control-label">دلیل</label>
                    <input type="" class="form-control" asp-for="Reason">
                    <span asp-validation-for="Reason" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="hidden" asp-for="Id" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>