@model StoreManagement.Application.Contract.StoreAgg.BankStoreVM

@{
    ViewData["Title"] = "اطلاعات بانک";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">مشخصات بانکی شرکت</h4>
</div>

<div class="modal-body myOverflow" >
    <table class="table table-bordered">
        <thead>
        <tr>
        <th>شماره حساب</th>
        <th>شماره شبا</th>
        <th>شماره کارت</th>
        </thead>
        <tbody>

        <tr class="text-center">
            <td>@Model.AccountNumber</td>
            <td>@Model.ShabaNumber</td>
            <td>@Model.CardNumber</td>
        </tr>

        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>