@model TicketManagement.Application.Contract.TicketAgg.TicketVM

@{
    ViewData["Title"] = "جزئیات تیکت";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@ViewData["Title"]</h4>
</div>

<div class="modal-body myOverflow">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>فرستنده</th>
                <th>پیام</th>
                <th>تاریخ</th>
        </thead>
        <tbody>
            @foreach (var message in Model.Messages)
            {
                <tr class="text-center" style="background-color : @((message.SenderId == 0) ? "red" : "green")">
                    @if (message.SenderId == 0)
                    {
                        <td>پشتیبانی</td>
                    }
                    else
                    {
                        <td>شرکت</td>
                    }
                    <td>@Html.Raw(message.Text)</td>
                    <td>@message.CreationDate</td>
                </tr>
            }


        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>