<footer>
    <div class="footer container-fluid mt-5">
        <div class="row p-5 text-center">
            <div class="col-sm-12 col-md-4">
                <p class="h4  text-white">شرکت تست</p>
                <p class=" p-3 text-white">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                    نیاز
                    و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <p class="h4  text-white">پست الکترونیک</p>
                <p class=" p-3 text-white">
                    <a class="text-white" href="mailto:radkala@gmail.com">radkala@gmail.com</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <p class="h4  text-white">شماره های تماس</p>
                <p class=" p-3 text-white">
                    09302222991
                </p>
            </div>
        </div>
    </div>
</footer>