<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/AdminTheme/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@User.Identity?.Name<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>
                </div>

                <p class="text-muted m-0">Administrator</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
                </li>

                <li>
                    @*<a asp-page="/Shop/Order/Index" class="waves-effect"><i class="fa fa-bank"></i><span> سیستم سفارشات </span></a>*@
                </li>

                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-store"></i><span> سیستم فروشندگی </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-area="Admin" asp-controller="Store" asp-action="Index">شرکت ها</a></li>
                        <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">محصولات</a></li>
                        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">دسته بندی محصولات</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-web"></i><span> سیستم مدیریت</span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-area="Admin" asp-controller="Province" asp-action="Index">استان ها</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a class="waves-effect"><i class="md md-shopping-basket"></i><span> سیستم محصولات </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a asp-area="Admin" asp-controller="Product" asp-action="ListOfProducts">درخواست ها</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a class="waves-effect"><i class="fa fa-gear"></i><span> تنظیمات سایت </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">

                        @*<li><a asp-page="/SiteSettings/Banner/Index">بنر ها</a></li>
                <li><a asp-page="/SiteSettings/AboutUs/Index">درباره ما</a></li>
                <li><a asp-page="/SiteSettings/Setting/Index">تنظیمات</a></li>
                <li><a asp-page="/SiteSettings/ContactUs/Index">پیام ها</a></li>*@

                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>