
@{
    ViewData["Title"] = "گردش حساب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 border my-5 admin-panel">
    <div class="row">
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>خرید اشتراک</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>صورت حساب ماهیانه</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a href="">
                <div class="admin-panel-box">
                    <h4>تبلیغات</h4>
                </div>
            </a>
        </div>
    </div>
</div>

<!--  -->
<!-- tabels -->
<div class="table-me container">
    <table class="table table-striped table-hover" style="overflow-y: scroll ;">
        <thead>
            <tr>
                <th scope="col">شماره</th>
                <th scope="col">نام محصول</th>
                <th scope="col">تعداد</th>
                <th scope="col">قیمت</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>تست چای</td>
                <td>3</td>
                <td>3000</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>تست چای</td>
                <td>3</td>
                <td>3000</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>تست چای</td>
                <td>3</td>
                <td>3000</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- tabels -->

<div class="container">
    <div class="row d-flex justify-content-center align-items-center  border">
        <div class="col rounded p-3">
            <h4>هزینه قابل پرداخت : <span>35000</span></h4>
        </div>
        <div class="col payment">
            <a href="" class="btn btn-outline-danger">پرداخت</a>
        </div>
    </div>
</div>
<!--  -->
