@{
    ViewData["Title"] = "تیکت ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 border my-5 admin-panel">
    <div class="row">
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="StoreMessage" asp-action="Index">
                <div class="admin-panel-box">
                    <h4>ارسال پیام به فروشنده</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 rounded my-3">
            <a asp-area="Store" asp-controller="Ticket" asp-action="Tickets">
                <div class="admin-panel-box">
                    <h4>تیکت به پشتیبانی</h4>
                </div>
            </a>
        </div>
    </div>
</div>