<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (!string.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
    {
        <title>راد کالا | @ViewData["Title"]</title>
    }
    else
    {
        <title>راد کالا</title>
    }

    <meta name="keywords" content="@ViewData["Keyword"]" />
    <meta name="description" content="@ViewData["MetaDescription"]" />

    <partial name="_HeaderReferencesPV" />
    @await RenderSectionAsync("Styles", false)

</head>

<body>

    <!-- navbar -->
    @await Component.InvokeAsync("SiteHeader")
    <!-- navbar -->

    @RenderBody()

    <!-- Responsive menu -->
    @await Component.InvokeAsync("ResponsiveMenu")

    <partial name="_FooterReferencesPV" />
    <partial name="_ValidationScriptsPartial" />
    <partial name="_SiteMessage" />

    @await RenderSectionAsync("Scripts", false)
</body>

</html>