<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (!string.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
    {
        <title>راد کالا | @ViewData["Title"]</title>
    }
    else
    {
        <title>راد کالا</title>
    }


    <partial name="_HeaderReferencesPV" />
    @await RenderSectionAsync("Styles", false)

</head>

<body>

    <!-- navbar -->
    @await Component.InvokeAsync("SiteHeader")
    <!-- navbar -->

    @RenderBody()


    <!-- Responsive menu -->
    <div class="menu-small">
        <div class="icon" id="menu-small">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <div class="menu-small-icon" id="responsive-menu">
        <ul id="smal-large">
            <li><a href="">شرکت های پخش</a></li>
            <li><a href="">دسته بندی محصولات</a></li>
            <li><a href="">گردش حساب</a></li>
            <li><a href="">سفارشات قبلی</a></li>
            <li><a href="">پیام ها</a></li>
            <li><a href="">حساب کاربری</a></li>
            <li><a href="">تماس با ما</a></li>
            <li><a href="">خروج</a></li>
        </ul>
        <div class="close-menu" id="close-menu-small">
            <i class="fa fa-times"></i>
        </div>
    </div>

    <partial name="_FooterReferencesPV" />
    <partial name="_ValidationScriptsPartial" />
    <partial name="_SiteMessage" />

    @await RenderSectionAsync("Scripts", false)
</body>

</html>