<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (!string.IsNullOrWhiteSpace(ViewData["Title"].ToString()))
    {
        <title>راد کالا | @ViewData["Title"]</title>
    }
    else
    {
        <title>راد کالا</title>
    }


    <partial name="_HeaderReferencesPV" />
    @await RenderSectionAsync("Styles", false)

</head>

<body>

    <!-- navbar -->
    @await Component.InvokeAsync("SiteHeader")
    <!-- navbar -->

    @RenderBody()



    <partial name="_FooterReferencesPV" />
    <partial name="_ValidationScriptsPartial" />
</body>

</html>