@using System.Security.Claims
<nav>
    <div class="menu">
        <div class="menu-box">
            <a href="/">
                <h3 class="text-white mt-2 font">RAD KALA</h3>
            </a>
            <div class="search-box w-50">
                <i class="fa fa-search text-dark"></i>
                <form  asp-controller="Products" asp-action="SearchedProducts" method="get">
                    <input type="search" name="title" id="" placeholder="جست و جو بین کالاهای متفاوت">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "ClientUser")
                {
                    <a asp-area="" asp-controller="Order" asp-action="Index">
                        <i class="text-white fas fa-shopping-cart"></i>
                    </a>
                }
            }
        </div>
    </div>
    <div class="menu-large">
        <ul id="menu-large">
            <li><a href="">شرکت های پخش</a></li>
            <li><a asp-area="" asp-controller="Blogs" asp-action="Index">مقالات</a></li>
            <li><a asp-area="" asp-controller="Categories" asp-action="Index">دسته بندی محصولات</a></li>
            <li><a href="">گردش حساب</a></li>
            <li><a href="">سفارشات قبلی</a></li>
            <li><a href="">پیام ها</a></li>
            <li><a href="">تماس با ما</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "ClientUser")
                {
                    <li><a asp-area="User" asp-controller="Dashboard">حساب کاربری</a></li>
                }

                else if (!string.IsNullOrWhiteSpace(User.Claims.FirstOrDefault(c => c.Type == "StoreId")?.Value))
                {
                    <li><a asp-area="Store" asp-controller="Dashboard" asp-action="Index">پنل شرکت</a></li>
                }

                else if (!string.IsNullOrWhiteSpace(User.Claims.FirstOrDefault(c => c.Type == "IsAdminUser")?.Value))
                {
                    <li><a asp-area="Admin" asp-controller="Dashboard">پنل مدیریت</a></li>
                }

                <li><a asp-area="" asp-controller="Account" asp-action="Logout">خروج</a></li>
            }
            else
            {
                <li><a asp-controller="Account" asp-action="UserRegister">ثبت نام کاربر</a></li>
                <li><a asp-controller="Account" asp-action="UserLogin">ورود کاربر</a></li>
                <li><a asp-controller="Account" asp-action="StoreRegister">ثبت شرکت</a></li>
                <li><a asp-controller="Account" asp-action="StoreLogin">ورود شرکت</a></li>
            }

        </ul>
    </div>

</nav>