@model TicketManagement.Application.Contract.TicketAgg.AddMessageTicketVM

<form method="post" asp-area="Store" asp-controller="Ticket" asp-action="SendMessage">
    <input type="hidden" asp-for="TicketId" />

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">پیام</label>
        <textarea asp-for="Text" id="TinyArea" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-danger w-50">ارسال</button>
    </div>

</form>
